@import "../../../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
}

.destination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
}

.current-destination {
  &-container {
    display: flex;
    font-weight: 900;
    padding: 6px 36px;
    justify-content: space-between;

    & img {
      filter: drop-shadow(0 13px 44px rgba(0, 0, 0, 0.05));
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &-img-container {
    width: 120px;
    height: 132px;
  }

  &-data-wrapper {
    padding-right: 11px;
  }

  &-temperature {
    font-size: 78px;
    line-height: 94px;
  }

  &-weather {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: -9px;
  }
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 30px;
  line-height: 32px;
  font-weight: 900;
}

h2 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 800;
  color: $black_40;
}
