@font-face {
  font-family: "Bricolage Grotesque";
  src: local("BricolageGrotesque_72pt-ExtraLight"),
    url("../assets/fonts/BricolageGrotesque_72pt-ExtraLight.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: local("BricolageGrotesque_72pt-Light"),
    ("../assets/fonts/BricolageGrotesque_72pt-Light.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: local("BricolageGrotesque_72pt-Regular"),
    url("../assets/fonts/BricolageGrotesque_72pt-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: local("BricolageGrotesque_72pt-Medium"),
    url("../assets/fonts/BricolageGrotesque_72pt-Medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: local("BricolageGrotesque_72pt-SemiBold"),
    url("../assets/fonts/BricolageGrotesque_72pt-SemiBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: local("BricolageGrotesque_72pt-Bold"),
    url("../assets/fonts/BricolageGrotesque_72pt-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: local("BricolageGrotesque_72pt-ExtraBold"),
    url("../assets/fonts/BricolageGrotesque_72pt-ExtraBold.ttf");
  font-weight: 900;
}
