// Project colors
$black_100: rgba(18, 18, 18, 1);
$black_40: rgba(18, 18, 18, 0.4);
$black_20: rgba(18, 18, 18, 0.2);
$black_10: rgba(18, 18, 18, 0.1);

$white_100: rgba(255, 255, 255, 1);
$white_60: rgba(255, 255, 255, 0.6);
$white_40: rgba(255, 255, 255, 0.4);

// Project fonts
$font_primary: "Bricolage Grotesque", sans-serif;
