@import "../../../../styles/variables";

.wrapper {
  display: flex;
  gap: 14px;
  overflow-x: auto;
  overflow-y: visible;
  padding: 12px 20px 22px 20px;
  user-select: none;
  width: 100%;
  overflow-y: visible;
  position: relative;
  z-index: 10;

  &::-webkit-scrollbar {
    display: none;
  }
}

.scroller {
  &-wrapper {
    width: 40px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin: -8px auto 2px auto;
    position: relative;
  }

  &-dot {
    width: 6px;
    height: 6px;
    background-color: $black_20;
    border-radius: 3px;
  }

  &-oval {
    height: 6px;
    width: 16px;
    background-color: $black_100;
    border-radius: 3px;
    position: absolute;
    left: 0;
    transition: left 0.3s ease;
  }
}
